{% set assets_directory = '../../../' %}

{% extends "admin/base.html.twig" %}

{% block title %}
   Commentaires -
   {{parent()}}
{% endblock %}

{% block main %}
   <div id="content">
      {% include "admin/parts/_navbar.html.twig" %}
      <div class="container-fluid">
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 mx-2">
               <i class="fas fa-comments mr-2"></i>Liste des derniers commentaires</h1>
         </div>
         <div class="row">
            {% include "admin/parts/_comment_list.html.twig" %}
            {% include "admin/parts/_pagination.html.twig" %}
         </div>
      </div>
   </div>
{% endblock %}