main {
   /*margin-top: -240px;*/
}
#containerTete {
   padding: 20px;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.7) !important;
}
.navbar.bg-dark {
   position: fixed;
   top: 0%;
   left: 0%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7) !important;
}

#logo {
   height: 100%;
   width: auto;
   max-height: 40px;
}

.navbar {
   padding: 30px 10px;
}

.nav-item {
   padding: 0px 10px;
}

.mt-6 {
   margin-top: 6em !important;
}