body {
   font-family: 'Outfit', sans-serif !important;
}
a:hover {
   text-decoration: none;
}
#container-tete {
   padding: 20px;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.6) !important;
}
.navbar.bg-dark {
   position: fixed;
   top: 0%;
   left: 0%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.8) !important;
}
#logo {
   transition: 0.4s;
   height: 100%;
   width: auto;
   max-height: 60px;
   margin-top: 10px;
   margin-bottom: 10px;
}
#logo:hover {
   transition: 0.4s;
   transform: scale(1.1);
}
.comment-disabled {
   transition: 0.4s;
   opacity: 0.4;
}
.comment-disabled:hover {
   transition: 0.4s;
   opacity: 1;
}
.navbar {
   padding: 10px 5px;
}
.nav-item {
   padding: 0px 0px 0px 10px;
}
.mt-6 {
   margin-top: 6em !important;
}
.mt-7 {
   margin-top: 8em !important;
}
.mb-7 {
   margin-bottom: 8em !important;
}
.w-90 {
   width: 90% !important;
}
.article-blog {
   transition: 0.4s;
   transform: scale(0.9);
}
.article-blog:hover {
   transition: 0.4s;
   transform: scale(1);
}
#accordion-sidebar {
   background: #171717;
}
input[type=text]
, input[type=email]
, input[type=password] {
   color: #0F0F0F !important;
}
.btn-toolbar .active {
   background: #171717 !important;
}
#alert-area {
   position: fixed;
   top: 16%;
   z-index: 3;
}
.alert {
   transition: 0.4s;
   border: none;
   opacity: 1;
   color: #FFFFFF;
   text-shadow: 1px 1px #333333;
}
.alert-secondary {
   border-color: #383d41;
   background-color: rgb(56,61,65,0.8);
}
.alert-primary {
   border-color: #008aff;
   background-color: rgb(0,138,255,0.8);
}
.alert-success {
   border-color: #00b907;
   background-color: rgb(0,185,7,0.8);
}
.alert-warning {
   border-color: #fda300;
   background-color: rgb(253,163,0,0.8);
}
.alert-danger {
   border-color: #f62035;
   background-color: rgb(246,32,53,0.8);
}
form .alert {
   border: none;
   font-size: 0.9em;
   margin: 3px 1px;
   padding: 4px 12px;
   width: 100%;
   text-align: left;
}
form .alert-dismissible .close {
   display: none;
}
.social-icon {
   font-size: 1.3em;
   color: #f6c23e;
   margin-right: 6px;
}
.zoom-effect {
   transition: 0.4s;
}
.zoom-effect:hover {
   transition: 0.4s;
   transform: scale(1.03);
}
.reverse-h {
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}













