{% set assets_directory = '' %}

{% extends "client/base.html.twig" %}

{% block title %}
   Erreur 404 -
   {{parent()}}
{% endblock %}

{% block main %}
   <div class="container d-flex flex-row flex-wrap justify-content-around mt-6 p-4">
      <h1 class="col-12 mb-5">Erreur 404</h1>

   </div>
{% endblock %}