<div class="col-lg-12 mb-4">
   <div class="card shadow mb-4">
      {% if window_title is defined %}
      <div class="card-header py-3 bg-dark">
         <h6 class="m-0 font-weight-bold text-white">{{window_title}}</h6>
      </div>
      {% endif %}
      <div class="card-body">
         <table class="table table-striped table-hover w-100">
            <thead>
               <tr>
                  <th>Titre</th>
                  <th class="w-25">Date</th>
                  <th class="w-25">Actions</th>
               </tr>
            </thead>
            <tbody>
            {% for post in posts %}
               <tr>
                  <td>{{post.title}}</td>
                  <td>{{post.createdAt | date('d/m/y à h:i')}}</td>
                  <td>
                     <a href="#" class="text-primary mx-1">
                        <i class="fas fa-eye"></i>
                     </a>
                     <a href="#" class="text-warning mx-1">
                        <i class="fas fa-pen"></i>
                     </a>
                     <a href="#" class="text-danger mx-1" onclick="showModal(this);return false;" data-toggle="modal" data-target="confirm" data-title="Supprimer" data-content="{{ "Voulez-vous vraiment supprimer l'article "~post.title~" ?"}}">
                        <i class="fas fa-trash-alt"></i>
                     </a>
                  </tr>
                  {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>