<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title">Default title</h5>
      </div>
      <div class="modal-body">
        Default content
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <form action="#" method="POST" id="modalAction">
           <button type="button" onclick="this.form.submit()" class="btn btn-danger">Confirmer</button>
        </form>
      </div>
    </div>
  </div>
</div>