<nav class="navbar navbar-expand navbar-dark bg-white topbar mb-4 static-top shadow">
   <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown no-arrow ">
         <a class="nav-link" href="/admin/informations/">
            {{ session.user.firstname }} {{ session.user.lastname }}
            <img class="img-profile rounded-circle ml-2" src="{{ assets_directory }}{{ admin.avatarUrl }}">
         </a>
      </li>
   </ul>
</nav>