{% set assets_directory = '../' %}

{% extends "admin/base.html.twig" %}

{% block title %}
   Administration -
   {{parent()}}
{% endblock %}



{% block main %}
   <div id="content">
      {% include "admin/parts/_navbar.html.twig" %}
      <div class="container-fluid">
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-dark mx-2">
               <i class="fas fa-fw fa-tachometer-alt text-warning mr-2"></i>Tableau de bord</h1>
         </div>
         <div class="row">
            <div class="col-xl-3 col-md-4 mb-4">
               <div class="card border-left-warning shadow h-100 py-2 shadow-sm zoom-effect">
                  <div class="card-body">
                     <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                           <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Articles</div>
                           <div class="h4 mb-0 font-weight-bold text-gray-900">{% if articles_count %}{{ articles_count }}{% endif %}</div>
                        </div>
                        <div class="col-auto">
                           <i class="fas fa-newspaper fa-2x text-gray-300"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-4">
               <div class="card border-left-warning shadow h-100 py-2 shadow-sm zoom-effect">
                  <div class="card-body">
                     <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                           <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Commentaires</div>
                           <div class="h4 mb-0 font-weight-bold text-gray-900">{% if articles_count %}{{ comments_count }}{% endif %}</div>
                        </div>
                        <div class="col-auto">
                           <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-md-4 mb-4">
               <div class="card border-left-warning shadow h-100 py-2 shadow-sm zoom-effect">
                  <div class="card-body">
                     <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                           <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Membres</div>
                           <div class="h4 mb-0 font-weight-bold text-gray-900">{% if users_count %}{{ users_count }}{% endif %}</div>
                        </div>
                        <div class="col-auto">
                           <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            {% include "admin/parts/_article_list.html.twig" with {'window_title': 'Derniers articles'} %}
         </div>
         {% include "admin/parts/_modal.html.twig"%}
      </div>
   </div>
{% endblock %}