	<footer id="footer" class="top-space">
		<div class="footer1">
			<div class="container">
				<div class="row">
					<div class="col-md-5 widget">
						<h3 class="widget-title">Réseaux sociaux</h3>
						<div class="widget-body">
                     <a class="h1 m-2" href="https://twitter.com/kilian_ld"><i class="fab fa-twitter"></i></a>
                     <a class="h1 m-2" href="https://www.linkedin.com/in/ledu-kilian/"><i class="fab fa-linkedin-in"></i></a>
                     <a class="h1 m-2" href="https://github.com/ledukilian"><i class="fab fa-github"></i></a>
						</div>
					</div>
					<div class="col-md-7 widget">
						<h3 class="widget-title">Contactez-moi</h3>
						<div class="widget-body">
                     <form>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-dark"></i></div>
                                </div>
                                <input type="email" class="form-control" id="nombre" name="email" placeholder="Adresse mail" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user text-dark"></i></div>
                                </div>
                                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom et prénom" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-comment text-dark"></i></div>
                                </div>
                                <textarea class="form-control" id="message" name="message" placeholder="Message" required></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Envoyer" class="btn btn-warning btn-block rounded-0 py-2">
                        </div>
                     </form>
                  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Accueil</a> |
								<a href="#">Contact</a> |
								<a href="#">Authentification</a>
							</p>
						</div>
					</div>
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2021  -  LE DU Kilian
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>