
<div id="alert-area" class="col-sm-12 offset-md-2 col-md-8">
   {% for message in messages %}
      {% if message.field == 'global' %}
         {% include "client/parts/_message.html.twig" %}
      {% endif %}
   {% endfor %}
   {% if _session.messages is defined %}
      {% for message in _session.messages %}
            {% include "client/parts/_message.html.twig" with {'message': message.text, 'type': message.type} %}
      {% endfor %}
   {% endif %}

</div>