<nav class="navbar navbar-expand-lg px-5 sticky-top navbar-dark bg-dark">
   <a class="navbar-brand" href="/">
      <img id="logo" src="{{ assets_directory }}img/logo.png" alt="KLD Blog">
      KLD Blog
   </a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

         <li class="nav-item {% if uri == '/' %}active{% endif %}">
            <a class="nav-link" href="/">Accueil</a>
         </li>
         <li class="nav-item {% if uri starts with '/blog/' %}active{% endif %}">
            <a class="nav-link" href="/blog/1/">Blog</a>
         </li>
         <li class="nav-item {% if uri == '/contact' %}active{% endif %}">
            <a class="nav-link" href="/contact">Contact</a>
         </li>
         {% if session.logged == false %}
            <li class="nav-item {% if uri == '/connexion' %}active{% endif %}">
               <a class="nav-link" href="/connexion">Connexion</a>
            </li>
            <li class="nav-item {% if uri == '/inscription' %}active{% endif %}">
               <a class="nav-link" href="/inscription">Inscription</a>
            </li>
         {% else %}
            {% if session.user.role == "ADMIN" %}
            <li class="nav-item">
               <a class="nav-link text-warning" href="/admin/">Administration</a>
            </li>
            {% endif %}
            <li class="nav-item">
               <a class="nav-link text-danger" href="/deconnexion">Déconnexion</a>
            </li>
         {% endif %}
      </ul>
   </div>
</nav>