<nav class="navbar-dark">
   <div class="menu-icon">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   </div>
   <div class="menu">
      <ul>
         <li class="active"><a href="/">Accueil</a></li>
         <li><a href="/portfolio">Portfolio</a></li>
         <li><a href="/contact">Contact</a></li>
         <li><a href="/connexion/">Connexion</a></li>
         <li><a href="/inscription/">Inscription</a></li>
      </ul>
   </div>
   <div class="logo">
         <img id="logo" src="img/logo.png" alt="Progressus HTML5 template">
         KLD Blog
   </div>
</nav>