<nav>
   <div class="menu-icon">
      <i class="fa fa-bars fa-2x"></i>
   </div>
   <div class="menu">
      <ul>
         <li class="active"><a href="#">Accueil</a></li>
         <li><a href="about.html">Portfolio</a></li>
         <li><a href="contact.html">Contact</a></li>
         <li><a class="btn" href="signin.html">Authentification</a></li>
      </ul>
   </div>
   <div class="logo">
         <img id="logo" src="img/logo.png" alt="Progressus HTML5 template">
         KLD Blog
   </div>
</nav>