{% set assets_directory = '' %}

{% extends "client/base.html.twig" %}

{% block title %}
   Accueil -
   {{parent()}}
{% endblock %}

{% block metaDescription %}
   Un blog php
{% endblock %}

{% block main %}
   <header id="head">
      <div class="container w-75" id="container-tete">
         <div class="col">
            <h1 class="lead">{{admin.firstName}} {{admin.lastName}}</h1>
            <p class="tagline">{{admin.catchPhrase}}</p>
            <div class="col row-md col-12 px-0">
               <a class="btn btn-default btn-lg col-12 col-md-5" role="button">Voir le Portfolio</a>
               <a class="btn btn-action btn-lg col-12 col-md-5" role="button">Télécharger le CV</a>
            </div>
         </div>
      </div>
   </header>
   <div class="container text-center">
      <br>
      <br>
      <h2 class="thin">The best place to tell people why they are here</h2>
      <p class="text-muted">
         The difference between involvement and commitment is like an eggs-and-ham breakfast:<br>
         the chicken was involved; the pig was committed.
      </p>
   </div>
   <div class="jumbotron top-space">
      <div class="container">
         <div class="row">
            <a href="/blog/ceci-est-un-test" class="card mb-3 col-12 col-md-4">
               <img class="card-img-top" src="img/periodic_table.jpg" alt="Card image cap">
               <div class="card-body">
                  <h5 class="card-title text-dark">Titre article blog 1</h5>
                  <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">
                     <small class="text-muted">Le 15/06/2021 à 00:29</small>
                  </p>
               </div>
            </a>
            <a href="/blog/ceci-est-un-test" class="card mb-3 col-12 col-md-4">
               <img class="card-img-top" src="img/periodic_table.jpg" alt="Card image cap">
               <div class="card-body">
                  <h5 class="card-title text-dark">Titre article blog 2</h5>
                  <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">
                     <small class="text-muted">Le 15/06/2021 à 00:29</small>
                  </p>
               </div>
            </a>
            <a href="/blog/ceci-est-un-test" class="card mb-3 col-12 col-md-4">
               <img class="card-img-top" src="img/periodic_table.jpg" alt="Card image cap">
               <div class="card-body">
                  <h5 class="card-title text-dark">Titre article blog 2</h5>
                  <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">
                     <small class="text-muted">Le 15/06/2021 à 00:29</small>
                  </p>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
{% endblock %}